.contact-edit {
    
    &-header {
        display: flex;
        justify-content: space-between;
        height: 40px;
        
        a:not(:last-child) {
            margin: 0 10px 0 0;
        }
    }

    .form-group {
        display: flex;
        justify-content: start;
        margin: 20px 0 0 0;

        label {
            margin: 0 15px 0 0;
        }

        input {
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #D8D8D8;

            &:focus{
                outline: none;
            }
        }
    }

    .form-actions-container {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0 0;

        button {
            cursor: pointer;
        }
    }
}