.contact-sub-nav {
    
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 0 0 10px ;
    
    button {
        border: none;
        font-size: 14px;
        background: none;
        outline: none;
        
        &:hover {
            cursor: pointer;
        }
    }

    button:not(:last-child) {
        margin: 0 10px 0 0;
    }
}