.app {
    max-width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px auto;

    .app-header {
        display: flex;
        justify-content: space-around;
        padding: 8px 20px;
        border-bottom: 1px solid;
    }

    .app-content {
        padding: 20px 0 0 0;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    [class^="flaticon-"]:before, 
    [class*=" flaticon-"]:before, 
    [class^="flaticon-"]:after, 
    [class*=" flaticon-"]:after {
        margin: 0;
    }
}