.contacts-page {
    position: relative;

    .search-container {
        position: fixed;
        width: 100%;
        background: #fff;
    }

    .contacts-container {
        padding: 30px 0 0 0;
    }
}