.contacts-page {
    position: relative;

    .search-container { 
        height: 40px;
        padding: 0 10px;
    }

    .contacts-container {
        max-height: 360px; 
        overflow-x: auto;
    }
}